:root {
    --dark-blue: #003959;
    --white: #fff;
    --light-pink: #fde3d7;
    --light-gray: #ced5da;
}

body {
    font: 1rem 'Roboto';
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

header {
    background-color: var(--light-pink);
    box-shadow: 1px 1px 5px var(--light-gray);
}

.top-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    font-family: 'OratorStd';
    color: var(--dark-blue);
    font-size: 25px;
}

.searchs__form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.MuiInputBase-root {
    color: var(--dark-blue) !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid var(--dark-blue) !important;
}

main {
    align-items: stretch;
    flex: 1 1 auto;
    position: relative;
}

main:after {
    content: "";
    background-image: url('../../assets/images/bg-azul.png');
    background-repeat: repeat;
    background-position: 20%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.content {
    margin: 35px 0;
}

table {
    min-width: 900px;
}

thead th {
    font-family: 'OratorStd';
}

thead th:nth-child(1), thead th:nth-child(5) {
    width: 10%
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

footer {
    background-color: var(--dark-blue);
}

footer .container {
    text-align: center;
    min-height: 40px;
    line-height: 40px;
    color: var(--white)
}

@media (max-width: 600px) {
    .logo {
        margin-bottom: 20px;
    }

    .searchs__form {
        width: 100%;
    }

    .searchs__input {
        width: inherit;
    }
}